<ion-header>
  <ion-toolbar>
    <ion-title>
      발전소 등록
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="inset" class="ion-margin-vertical">
    <ion-label position="stacked">발전소 이름</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">용량</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">REC 가중치</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin-vertical">
    <ion-text>
      <p>
        본인이 운영중인 발전소 입니다.<br />
        본인과 관계 없는 발전소를 등록하는 경우 이용이 제한될 수 있습니다.
      </p>
    </ion-text>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label
      text-wrap
      position="stacked"
      class="ion-text-center ion-margin-vertical"
      ><span style="font-size: 1.38em; font-weight: bold;"
        >어떤 모니터링 서비스 사용중 이신가요?</span
      ></ion-label
    >
    <ion-select
      class="ion-margin-vertical"
      placeholder="선택하세요."
      okText="확인"
      cancelText="취소"
    >
      <ion-select-option value="brown">제품1</ion-select-option>
      <ion-select-option value="blonde">제품2</ion-select-option>
      <ion-select-option value="black">제품3</ion-select-option>
      <ion-select-option value="red">제품4</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin-vertical">
    <ion-label position="stacked">ID</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="ion-margin-vertical">
    <ion-label position="stacked">PW</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin-vertical">
    <ion-text>
      <p>
        <span style="text-decoration: underline;">발전량 저장 및 사용</span>에
        동의합니다.
      </p>
    </ion-text>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-button expand="full" (click)="navigate()">가입하기</ion-button>
</ion-content>
