<ion-header>
  <ion-toolbar>
    <ion-button
      fill="clear"
      color="medium"
      slot="start"
      shape="round"
      (click)="goMap()"
    >
      <ion-icon mode="ios" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      경기도 발전왕
    </ion-title>
  </ion-toolbar>
  <ion-toolbar style="padding-left: 15px; padding-right: 15px;">
    <ion-select
      placeholder="8월 리그"
      okText="확인"
      cancelText="취소"
      slot="start"
      (ionChange)="changeLeague($event)"
    >
      <ion-select-option value="brown">8월 리그</ion-select-option>
      <ion-select-option value="blonde">9월 리그</ion-select-option>
    </ion-select>
    <!-- <ion-datetime
        style="font-weight:bold; padding-right: 20px;"
        mode="ios"
        display-format="YYYY-MM"
        cancelText="취소"
        done-text="완료"
        [value]="viewMonth"
        (ionChange)="changeMonth('select', $event)"
        min="2019-08"
        slot="start"
      ></ion-datetime> -->
    <p style="font-size: 12px;" slot="end">07월 31일 08:00 집계</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher
    slot="fixed"
    (ionRefresh)="ionRefresh($event)"
    (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher> -->

  <ion-list no-padding>
    <ion-item
      no-padding
      class="custom my"
      button
      (click)="goMy()"
      style="--background:#33a0ff;"
      lines="none"
    >
      <ion-thumbnail>
        <div class="rank-wrap">
          <span class="rank-number">29</span>
        </div>
      </ion-thumbnail>
      <ion-label style="font-size: 0.8em;">
        <div class="clearfix">
          <span style="float:left; color:#fff; font-weight: bold;"
            >내발전소</span
          >
          <span style="float:right; color:#fff; font-weight: bold;"
            >1.1시간</span
          >
        </div>
      </ion-label>
    </ion-item>
    <ion-item
      no-padding
      class="custom list"
      button
      *ngFor="let item of testArr; let i = index"
      (click)="presentModal1($event)"
    >
      <ion-thumbnail>
        <div class="rank-wrap">
          <ion-icon *ngIf="i <= 2" mode="ios" name="medal"></ion-icon>
          <span class="rank-number">{{ i + 1 }}</span>
        </div>
      </ion-thumbnail>
      <ion-label style="font-size: 0.8em;">
        <div class="clearfix">
          <span style="float:left; font-weight: bold;">{{ item.text }}</span>
          <span style="float:right; font-weight: bold;">1.1시간</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
