<ion-header>
  <ion-toolbar>
    <ion-title>
      step1
    </ion-title>
    <ion-button slot="start" color="primary"
      ><ion-icon name="arrow-round-back"></ion-icon
    ></ion-button>
    <ion-button slot="start" color="primary"
      ><ion-icon name="arrow-round-forward"></ion-icon
    ></ion-button>
    <ion-button slot="end" color="primary" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  step1
</ion-content>
