<ion-header>
  <ion-toolbar>
    <ion-title>
      agree
    </ion-title>
    <ion-button slot="start" size="small" color="primary"
      ><ion-icon name="arrow-round-back"></ion-icon
    ></ion-button>
    <ion-button slot="start" size="small" color="primary"
      ><ion-icon name="arrow-round-forward"></ion-icon
    ></ion-button>
    <ion-button slot="end" size="small" color="primary" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
