<ion-header>
  <ion-toolbar>
    <ion-title>이용약관 상세</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>서비스 이용약관</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="card-text">{{ TERMS_TEXT.terms1 }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>개인정보 처리방침</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="card-text">{{ TERMS_TEXT.terms1 }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>개인정보 수집 및 이용 안내</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="card-text">{{ TERMS_TEXT.terms1 }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title
        >개인정보 수집, 이용 및 처리위탁에 관한 동의서</ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <p class="card-text">{{ TERMS_TEXT.terms1 }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
