<ion-header>
  <ion-toolbar>
    <ion-title>발전왕 참가하기 - 신청완료</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/participation/step2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="medium" size="small" expand="full">
          step1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" size="small" expand="full">
          step2
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" size="small" expand="full">
          신청완료
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center" style="margin: 0 auto;">
    <ion-img
      class="ion-margin-vertical"
      style="max-width: 320px; margin-left: auto; margin-right: auto;"
      src="http://placehold.it/1000X600"
    ></ion-img>
    <ion-text
      class="ion-margin-top"
      style="text-align: center; font-weight: bold; line-height:25px;"
    >
      <p>발전왕 참가신청이</p>
      <p>완료되었습니다.</p>
      <p>익일부터 랭킹 확인이</p>
      <p>가능합니다.</p>
    </ion-text>
  </div>
</ion-content>

<ion-footer>
  <!-- routerLink="/tabs/rank" -->
  <ion-button no-margin (click)="goMain()" routerDirection="back" expand="full"
    >발전왕 메인으로 이동하기</ion-button
  >
</ion-footer>
