<ion-header>
  <ion-toolbar>
    <ion-title>발전왕 참가하기 - step2</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/participation/step1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button color="medium" size="small" expand="full">
          step1
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="dark" size="small" expand="full">
          step2
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="medium" size="small" expand="full">
          신청완료
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer no-border>
  <ion-button expand="full" (click)="next()">
    다음
  </ion-button>
</ion-footer>
