<ion-content padding-horizontal>
  <ion-toolbar class="ion-margin-vertical">
    <ion-title>발전왕 로그인</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-input placeholder="휴대폰 번호"></ion-input>
  </ion-item>
  <ion-button margin-top expand="full">인증</ion-button>
  <ion-item>
    <ion-input placeholder="인증번호"></ion-input>
  </ion-item>
  <ion-button margin-top expand="full">확인</ion-button>
</ion-content>

<ion-footer>
  <ion-button expand="full">로그인</ion-button>
  <ion-button expand="full" fill="none" style="text-decoration: underline;"
    >간편회원가입</ion-button
  >
</ion-footer>

