ion-datetime {
  padding-right: 20px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 48%;
    width: 13px;
    height: 13px;
    background-image: url(/assets/icon/ico_select_arrow_black.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
