<ion-header>
  <ion-toolbar>
    <ion-title>
      Rank
    </ion-title>
  </ion-toolbar>
</ion-header>

<div style="margin: 0.5em auto 0 auto;">
  <ion-buttons>
    <ion-button color="medium" (click)="changeMonth('left')">
      <ion-icon size="large" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-datetime
      padding
      style="font-size: 1.5em;"
      display-format="YYYY-MM"
      cancelText="취소"
      done-text="완료"
      [value]="viewMonth"
      (ionChange)="changeMonth('select', $event)"
    ></ion-datetime>
    <ion-button color="medium" (click)="changeMonth('right')">
      <ion-icon size="large" name="arrow-round-forward"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

<ion-content>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="ionRefresh($event)"
    (ionPull)="ionPull($event)"
    (ionStart)="ionStart($event)"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-padding>
    <ion-item
      no-padding
      class="custom"
      button
      detail="true"
      *ngFor="let item of testArr; let i = index"
      (click)="presentModal1($event)"
    >
      <ion-thumbnail>
        <div class="rank-wrap">
          <ion-icon *ngIf="i <= 2" mode="ios" name="medal"></ion-icon>
          <span class="rank-number">{{ i + 1 }}</span>
        </div>
      </ion-thumbnail>
      <ion-label>
        {{ item.text }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <!-- 현재 나의 신청 상태에 1.미신청, 2.참가요청중, 3.내발전소 정보를 표시해줘야함 -->
  <ion-button no-margin routerLink="/participation" expand="full"
    >발전왕 참가하기</ion-button
  >
</ion-footer>

<!-- <ion-list>
  <ion-item>
    <ion-label>api call test</ion-label>
    <ion-button (click)="apiTest()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>modal-detail</ion-label>
    <ion-button (click)="presentModal1()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>
      modal-report
    </ion-label>
    <ion-button (click)="presentModal2()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>참가신청</ion-label>
    <ion-button (click)="participation()">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>값 테스트</ion-label>
    <ion-input placeholder="값 테스트"></ion-input>
  </ion-item>
</ion-list> -->
