<ion-header>
  <ion-toolbar>
    <ion-title>발전왕 참가하기 - 약관동의</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="agreeForm" (ngSubmit)="$event.preventDefault()">
  <ion-card margin>
    <ion-card-header>
      <ion-card-subtitle>발전왕 Subtitle</ion-card-subtitle>
      <ion-card-title>발전왕 설명 영역</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      발전왕 소개.. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Delectus architecto perspiciatis minus sunt cupiditate, officiis impedit
      inventore laudantium saepe doloribus. Adipisci ad omnis mollitia quam
      culpa fugiat dolore consequuntur autem?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item style="font-size:1em;" lines="full">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label no-margin style="padding-left:5px;"
        >발전왕 서비스 이용약관</ion-label
      >
    </ion-item>

    <ion-content scrollY="true" style="height:100px;">
      <ion-card-content style="color:#666; padding: 10px; font-size: 0.9em;">
        약관에 대한 설명.. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Labore asperiores, porro, ea voluptatem quis sint a eum natus
        dolores cum odit, molestias ratione necessitatibus atque nobis eligendi
        in ab voluptatibus. 약관에 대한 설명.. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Labore asperiores, porro, ea voluptatem
        quis sint a eum natus dolores cum odit, molestias ratione necessitatibus
        atque nobis eligendi in ab voluptatibus. 약관에 대한 설명.. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Labore asperiores, porro,
        ea voluptatem quis sint a eum natus dolores cum odit, molestias ratione
        necessitatibus atque nobis eligendi in ab voluptatibus. 약관에 대한
        설명.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
        asperiores, porro, ea voluptatem quis sint a eum natus dolores cum odit,
        molestias ratione necessitatibus atque nobis eligendi in ab
        voluptatibus.
      </ion-card-content>
    </ion-content>
    <ion-item lines="none">
      <ion-label style="font-size:0.8em;">
        약관에 동의합니다.
      </ion-label>
      <ion-checkbox slot="start" formControlName="agree1"></ion-checkbox>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item style="font-size:1em;" lines="full">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label no-margin style="padding-left: 5px;"
        >모니터링 정보 수집 및 이용 동의 약관</ion-label
      >
    </ion-item>

    <ion-content scrollY="true" style="height:100px;">
      <ion-card-content style="color:#666; padding: 10px; font-size: 0.9em;">
        약관에 대한 설명.. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Labore asperiores, porro, ea voluptatem quis sint a eum natus
        dolores cum odit, molestias ratione necessitatibus atque nobis eligendi
        in ab voluptatibus. 약관에 대한 설명.. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Labore asperiores, porro, ea voluptatem
        quis sint a eum natus dolores cum odit, molestias ratione necessitatibus
        atque nobis eligendi in ab voluptatibus. 약관에 대한 설명.. Lorem ipsum
        dolor sit amet, consectetur adipisicing elit. Labore asperiores, porro,
        ea voluptatem quis sint a eum natus dolores cum odit, molestias ratione
        necessitatibus atque nobis eligendi in ab voluptatibus. 약관에 대한
        설명.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
        asperiores, porro, ea voluptatem quis sint a eum natus dolores cum odit,
        molestias ratione necessitatibus atque nobis eligendi in ab
        voluptatibus.
      </ion-card-content>
    </ion-content>
    <ion-item lines="none">
      <ion-label style="font-size: 0.8em;">
        약관에 동의합니다.
      </ion-label>
      <ion-checkbox slot="start" formControlName="agree2"></ion-checkbox>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-button
    no-margin
    [disabled]="this.agreeForm.invalid"
    expand="full"
    (click)="next()"
  >
    동의하고 가입하기
  </ion-button>
</ion-footer>
