<ion-header>
  <ion-toolbar>
    <ion-title>발전왕 리그 규정</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" color="medium" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-title>발전왕 리그 규정</ion-card-title>
    </ion-card-header> -->

    <ion-card-content>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo quae
        quasi incidunt debitis est architecto vitae ipsa ut distinctio amet
        exercitationem vero nostrum labore officiis dolorem, laborum sapiente
        dolores repudiandae doloremque iste voluptates natus. Nobis quibusdam
        accusantium doloremque accusamus sequi velit distinctio voluptatum
        repudiandae repellat libero, ipsum, alias suscipit obcaecati rem labore!
        At necessitatibus quia ratione est dolore ipsa voluptate eaque iure hic
        accusamus pariatur, fuga ullam ad laboriosam dicta, eveniet ducimus
        corrupti sequi fugiat accusantium possimus nisi vel explicabo. Hic amet
        sunt iste dolore, quas iure debitis perferendis magni esse beatae libero
        repellat quia. Reiciendis expedita sint quos. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Culpa illo quae quasi incidunt debitis est
        architecto vitae ipsa ut distinctio amet exercitationem vero nostrum
        labore officiis dolorem, laborum sapiente dolores repudiandae doloremque
        iste voluptates natus. Nobis quibusdam accusantium doloremque accusamus
        sequi velit distinctio voluptatum repudiandae repellat libero, ipsum,
        alias suscipit obcaecati rem labore! At necessitatibus quia ratione est
        dolore ipsa voluptate eaque iure hic accusamus pariatur, fuga ullam ad
        laboriosam dicta, eveniet ducimus corrupti sequi fugiat accusantium
        possimus nisi vel explicabo. Hic amet sunt iste dolore, quas iure
        debitis perferendis magni esse beatae libero repellat quia. Reiciendis
        expedita sint quos. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Culpa illo quae quasi incidunt debitis est architecto vitae ipsa
        ut distinctio amet exercitationem vero nostrum labore officiis dolorem,
        laborum sapiente dolores repudiandae doloremque iste voluptates natus.
        Nobis quibusdam accusantium doloremque accusamus sequi velit distinctio
        voluptatum repudiandae repellat libero, ipsum, alias suscipit obcaecati
        rem labore! At necessitatibus quia ratione est dolore ipsa voluptate
        eaque iure hic accusamus pariatur, fuga ullam ad laboriosam dicta,
        eveniet ducimus corrupti sequi fugiat accusantium possimus nisi vel
        explicabo. Hic amet sunt iste dolore, quas iure debitis perferendis
        magni esse beatae libero repellat quia. Reiciendis expedita sint quos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa illo quae
        quasi incidunt debitis est architecto vitae ipsa ut distinctio amet
        exercitationem vero nostrum labore officiis dolorem, laborum sapiente
        dolores repudiandae doloremque iste voluptates natus. Nobis quibusdam
        accusantium doloremque accusamus sequi velit distinctio voluptatum
        repudiandae repellat libero, ipsum, alias suscipit obcaecati rem labore!
        At necessitatibus quia ratione est dolore ipsa voluptate eaque iure hic
        accusamus pariatur, fuga ullam ad laboriosam dicta, eveniet ducimus
        corrupti sequi fugiat accusantium possimus nisi vel explicabo. Hic amet
        sunt iste dolore, quas iure debitis perferendis magni esse beatae libero
        repellat quia. Reiciendis expedita sint quos.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
