<ion-header>
  <ion-toolbar>
    <ion-title>
      발전왕 참가
      <ion-button (click)="closeModal()">
        닫기
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="fixed">검색 월:</ion-label>
          <ion-datetime display-format="YYYY-MM" [value]="test"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
