.off-box {
  --background: gray;
  --color: white;
}

ul,
li,
ol {
  list-style: none;
}

.btn-view-details {
  text-decoration: underline;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
}

.medal-item {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  margin: 2px;
}

.medal-title {
}
.medal-text {
  font-weight: bold;
}
